/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


tr {
  border-color: white;
  border-bottom-color: gray;
}

.navbar, .navbar-collapse{
  background-color: #04C977;
  border: 0;
  border-radius: 0;
}

.navbar {
  padding: 20px;
}

#notice {
  background-color: #5E92DB;
  border-radius: 3px;
  padding: 20px;
  font-size: 24px;
}

@media (min-width: 768px){
  .navbar-nav li a {
    padding-top: 0px;
    padding-bottom: 15px;
    border: 0;
  }
}

#landing-page-banner {
  /*background-image: url('http://www.quickmeme.com/img/22/22d4e4c202f65c087c4d5a8ac07a3d75981db5ba7d6de0dfd436071cadbc0849.jpg');*/
  background-repeat: no-repeat;
  background-color: #C4C4C4;
  margin-right: 0;
  height: 500px;
}

#new-user {
  margin-top: 20px;
  margin-right: 50px;
}

.sign-in-heading {
  font-family: 'Armata', sans-serif;
  font-size: 32px;
  text-align: center;
  margin-top: 45px;
}



/*.fa-cube {
  height: 200px;
  width: 200px;
  font-size: 225px;
  margin: 50px;
}*/



